[tool.poetry]
name = "django-tailwind-cli"
version = "0.9.0"
description = "Django and Tailwind integration based on the prebuilt Tailwind CSS CLI."
license = "MIT"
authors = ["Oliver Andrich <oliver@andrich.me>"]
readme = "README.md"
homepage = "https://github.com/oliverandrich/django-tailwind-cli"
repository = "https://github.com/oliverandrich/django-tailwind-cli"
keywords = ["django", "tailwind", "css"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
    "Topic :: Utilities",
    "Environment :: Web Environment",
    "Framework :: Django :: 3.2",
    "Framework :: Django :: 4.0",
    "Framework :: Django :: 4.1"
]
packages = [{include = "django_tailwind_cli", from = "src"}]

[tool.poetry.dependencies]
python = "^3.8"
django = ">=3.2"
httpx = "^0.23.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytest-django = "^4.5.2"
django-types = "^0.16.0"
pytest-sugar = "^0.9.5"
pytest-randomly = "^3.12.0"
pytest-timeout = "^2.1.0"
tox = "^3.26.0"
tox-poetry = "^0.4.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ["py38"]
line-length = 100

[tool.isort]
profile = "black"
add_imports = "from __future__ import annotations"

[tool.pyright]
venvPath = "."
venv = ".venv"
typeCheckingMode = "strict"

[tool.pytest.ini_options]
pythonpath=[".", "src"]
addopts = """\
    --strict-config
    --strict-markers
    --ds=tests.settings
    --cov
    """
django_find_project = false

[tool.coverage.run]
omit = [
    "*/tests/*",
    "conftest.py",
]
