[tool.poetry]
name = "django-tailwind-cli"
version = "1.4.3"
description = "Django and Tailwind integration based on the prebuilt Tailwind CSS CLI."
license = "MIT"
authors = ["Oliver Andrich <oliver@andrich.me>"]
readme = "README.md"
homepage = "https://oliverandrich.github.io/django-tailwind-cli/"
repository = "https://github.com/oliverandrich/django-tailwind-cli"
keywords = ["django", "tailwind", "css"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
    "Topic :: Utilities",
    "Environment :: Web Environment",
    "Framework :: Django :: 3.2",
    "Framework :: Django :: 4.0",
    "Framework :: Django :: 4.1",
    "Framework :: Django :: 4.2",
]
packages = [{ include = "django_tailwind_cli", from = "src" }]

[tool.poetry.urls]
"Mastodon" = "https://2pxnl.de/@oliver"

[tool.poetry.dependencies]
python = ">=3.8.1,<4"
django = ">=3.2,<5"
django-rich = "^1.5.0"
certifi = "*"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
pytest-django = "^4.5.2"
django-types = "^0.17.0"
pytest-randomly = "^3.12.0"
pytest-timeout = "^2.1.0"
mkdocs-material = "^9.1.5"
syrupy = "^4.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ["py38"]
line-length = 120

[tool.pyright]
venvPath = "."
venv = ".venv"
typeCheckingMode = "strict"

[tool.pytest.ini_options]
pythonpath = [".", "src"]
addopts = "--strict-config --strict-markers --ds=tests.settings"
django_find_project = false
filterwarnings = ["ignore::DeprecationWarning"]

[tool.coverage.run]
omit = ["*/tests/*", "conftest.py"]

[tool.ruff]
select = ["A", "B", "C4", "D", "E", "F", "I", "DJ", "INP", "TID", "UP", "YTT"]
ignore = ["D202", "D203", "D212"]
fixable = ["A", "B", "C4", "D", "E", "F", "I", "TID", "UP"]
unfixable = []
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".github",
    ".hg",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "build",
    "dist",
    "migrations",
    "node_modules",
    "static",
]
line-length = 120
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"
target-version = "py38"

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.per-file-ignores]
"__init__.py" = ["D104"]
"apps.py" = ["D100", "D101"]
"conftest.py" = ["D100"]
"settings.py" = ["D100"]
"test_*.py" = ["D100"]
