{% load tailwind_cli %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock %}</title>
        {% tailwind_css %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>
